{:kotoba.app/id "cloud.itonami.isic-3315", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreice2od2edhmll543ja7yzstzxiesisbwdxat62e6wfqjjfcvabgsa", :kotoba.app/embed-url "ipfs://bafkreice2od2edhmll543ja7yzstzxiesisbwdxat62e6wfqjjfcvabgsa", :published {:archive "https://kotobase.net/ipfs/bafkreice2od2edhmll543ja7yzstzxiesisbwdxat62e6wfqjjfcvabgsa", :size 72332, :put-status 201, :get-status 200, :at "2026-08-15T13:43:36.041Z"}}
